.vscode/**
.vscode-test/**
.vscode-test-web/**
out/test/**
test/**
source/**
**/*.map
.gitattributes
.gitignore
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
images/screenshot.png
images/screenshot2.png
images/unsavedhex.1024.png
images/unsavedhex.ico
.history/**
private/**
tsconfig.json
tslint.json
desktop.ini
